# BackupFiles so I don't have to recompile kernels while patches or make iso fails
.BackupFiles
archium-repo
archium-repo-aur
aur-build
linux-tkg
archium-linux-iso
patches/theme/KDE/monochrome-kde
patches/theme/KDE/papirus-icon-theme
/tmp/
.cache/
*.log
# Archiso
workdir/
out/
# Build artifacts
*.iso
*.pkg.tar.zst
*.img
